
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ahmad</title>
</head>
<body>
    <div>
        <h2>Ahmads rum</h2>
    </div>
</body>
</html>
