@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>SIDOR</h2>
        <ul>
            <li>Här är en lista med sidor:</li>
            <li><a asp-area="" asp-controller="Home" asp-action="AndreasBlom">Andreas sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="FredrikHaglund">Fredriks sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Victor">Victor</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="EliasMohammed">Fredriks sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Uttern">Utterns sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="FredrikHaglund">Fredriks sida</a></li>

            <li><a asp-area="" asp-controller="Home" asp-action="Jonas">Jonas sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="MikaelThomasMarkus">MikaelThomasMarkus sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="DavidAgdelius">Davids sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="CharbelYakoub">Charbels sida</a></li>


            <li><a asp-area="" asp-controller="Home" asp-action="GustavCleveman">Gustav C's sida</a></li>

            <li><a asp-area="" asp-controller="Home" asp-action="Ahmad">Ahmads sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Samulf">Samulfs sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="TomasUtanH">Tomas sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="GustavWestberg">Gustav Ws sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="HelenaOchFeyona">Helena och Feyona</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="JohannaAkerstrom">Johannas sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Mimmi">Mimmis sida</a></li>
        </ul>
        <ul>
            <li>Här är en lista med sidor:</li>
            <li><a asp-area="" asp-controller="Home" asp-action="EliasMohammed">Fredriks sida</a></li>
        
            <li><a asp-area="" asp-controller="Home" asp-action="EliasMohammed">Elias sida</a></li>

            <li><a asp-area="" asp-controller="Home" asp-action="EgidioJens">Egidio Jens  link </a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="AnnaMaria">Anna-Marias sida</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Fler sidor</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="Kalle" class="btn btn-danger">Kalle <i>boom boom pow pow</i></a></li>
       </ul>
    </div>
    <div class="col-md-3">
        <h2>Fler sidor</h2>
		<ul>
			<li><a asp-area="" asp-controller="Home" asp-action="Adrian">Adrian sida</a></li>
		</ul>
    </div>
    <div class="col-md-3">
        <h2>Fler sidor</h2>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="MaxSteffiCharri">Fredriks sida</a></li>
        </ul>
    </div>
</div>
