@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>SIDOR</h2>
        <ul>
            <li>Här är en lista med sidor:</li>
            <li><a asp-area="" asp-controller="Home" asp-action="FredrikHaglund">Fredriks sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="GustavWestberg">Gustav Ws sida</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="AnnaMaria">Anna-Marias sida</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Fler sidor</h2>
        <ul>
       </ul>
    </div>
    <div class="col-md-3">
        <h2>Fler sidor</h2>
        <ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Fler sidor</h2>
        <ul>
        </ul>
    </div>
</div>
