
@{
    ViewData["Title"] = "Kalle";
}

<div style="margin-top: 1em;">
    <iframe src="https://jillejr.github.io/Shotgun/" style="width: 100%; height: 25em; overflow: hidden; border: none;"></iframe>
</div>
